@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: "Outfit", sans-serif;
}
.footer{
    display: flex;
   
    justify-content: space-between;
    
    
    
}
li{
    margin-top: 9px;
}